{% extends "base.html" %}
{% load mytags %}

{% block title %}PawClock{% endblock %}


{% block content %}
<header class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <div class="flex items-center gap-4">
            <!-- <a href="/"><img src={~p"/images/logo.svg"} width="36" /></a>
            <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
                v{Application.spec(:phoenix, :vsn)}
            </p> -->
        </div>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
            <!-- <a href="https://twitter.com/elixirphoenix" class="hover:text-zinc-700">
                @elixirphoenix
            </a> -->
            <a href="https://github.com/django" class="hover:text-zinc-700">
                GitHub
            </a>
            <a href="https://www.djangoproject.com/" class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80"    >
                Django Project <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
    </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
        <h2 class="font-bold">Active Day Care Sessions</h2>
        {% block inner_content %}
             {% if object_list %}
                {% active_daycare_sessions object_list %}
            {% else %}
                <p class="text-sm text-gray-500">No active daycare sessions.</p>
            {% endif %}
        {% endblock %}
    </div>
</main>

{% endblock %}

<!-- <!DOCTYPE html>

    <body>
        <div class="container mx-auto py-4 px-6">
            <h2 class="font-bold">Active Daycare Sessions</h2>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="col" class="px-6 py-3">Pet</th>
                        <th scope="col" class="px-6 py-3">Checkin - Owner</th>
                        <th scope="col" class="px-6 py-3">Checkin - User</th>
                        <th scope="col" class="px-6 py-3">Checkout - Owner</th>
                        <th scope="col" class="px-6 py-3">Checkout - User</th>
                        <th scope="col" class="px-6 py-3">Checkin Time</th>
                        <th scope="col" class="px-6 py-3">Checkout Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in object_list %}
                    <tr scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <th class="px-6 px-4">{{ session.pet }}</th>
                        <td class="px-6 px-4">{{ session.check_in_owner|default_if_none:"&nbsp;" }}</td>
                        <td class="px-6 px-4">{{ session.check_in_user|default_if_none:"&nbsp;" }}</td>
                        <td class="px-6 px-4">{{ session.check_out_owner|default_if_none:"&nbsp;" }}</td>
                        <td class="px-6 px-4">{{ session.check_out_user|default_if_none:"&nbsp;" }}</td>
                        <td class="px-6 px-4">{{ session.check_in|default_if_none:"&nbsp;" }}</td>
                        <td class="px-6 px-4">{{ session.check_out|default_if_none:"&nbsp;" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html> -->
